@import '../../../colors.scss';

.products-main {
    display: flex;
    flex-direction: column;
    padding: 3em 0em;

    h1 {

        @media (max-width: 650px) {
            font-size: xx-large;
        }
    }

    p {

        @media (max-width: 650px) {
            font-size: medium;
        }
    }
}

.products-feed {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    gap: 3em;
    padding: 3em;

    @media (max-width: 650px) {
        flex-flow: column nowrap;
        align-items: center;
    }
}