@import '../../../colors.scss';

.login-main {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 20em;
    padding: 5em;
    text-align: center;

    input {
        border-radius: 0.7em;
        border: 0.2px solid $b;
        padding: 0.5em 1em;
        width: auto;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04),
            0px 5px 10px 2px rgba(0, 0, 0, 0.08);
    }

    button {
        background-color: $main-color;
        padding: 0.5em 1em;
        border: 0.2px solid $b;
        border-radius: 0.7em;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.04),
            0px 5px 10px 2px rgba(0, 0, 0, 0.08);
    }
}

.toRegister {
    color: $main-color;
    text-decoration: underline;
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.toRegister:hover {
    color: $dark-main-color;
}