@import '../../../colors.scss';

#rssBlock {
  left: 0px;
  height: auto;
  background: $main-color;
  overflow: hidden;
  z-index: 1;
}

.cnnContents {
  width: 100%;
  padding: 0.5em 0em;
  font-size: larger;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 300;

  span {
    display: inline-block;
    animation: scrolling-left 20s linear infinite;
    @media (max-width: 768px) {
      animation: scrolling-left 10s linear infinite;
    }
  }

  .marqueeStyle2 {
    animation-delay: 2s;
  }
}

@keyframes scrolling-left {
  0% {
    transform: translateX(100vw)
  }

  ;

  100% {
    transform: translateX(-100vw)
  }

  ;
}