@import '../../../colors.scss';

.cartCont {
    display: flex;
}

.shoppingCart {
    position: relative;
}

.stickerPriceCart {
    font-size: xx-small;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px; right:70px;
    width: auto; height: 24px;
    min-width: 24px;
    border-radius: 100px;
    text-align: center;
}