@import '../../../colors.scss';

nav {
    position: relative;
    top: 0px;
    left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    z-index: 2;

    box-shadow: 0 0 5px 0px rgba(208, 208, 208, 0.2),
        -2px 9px 15px 0px rgba(208, 208, 208, 0.2);

    ul {
        gap: 1.5em;
        padding: 1em;

        li {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}

.navLeft {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    img {
        height: 35px;
        width: 100%;
    }

    .only-desktop {
        @media (max-width: 768px) {
            display: none;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.navRight {
    display: flex;
    justify-content: flex-end;
}

.navDropDown {
    display: none;
    height: 100vh;

    transition: left 300ms linear;
}

.navDropDown.open {

    @media (max-width: 768px) {
        width: 100%;
        order: 3;
        display: flex;
        flex-flow: column;
        align-items: center;
        align-self: center;

        animation: appear 0.2s ease-in-out;
    }
}

.navDropDown.open>li {

    @media (max-width: 768px) {
        animation: appear 0.5s ease-in-out;
    }
}

.menuIcon {

    @media (min-width: 768px) {
        width: 100%;
        order: 3;
        display: none;
        flex-flow: column;
        align-items: center;
        align-self: center;
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}