@import '../../../colors.scss';

article.card {
    width: 300px; height: 400px;
    position: relative;

    div.cardImgCont {
        border-radius: 5px;
        width: 100%; height: 75%;
        overflow: hidden;

        box-shadow: 0 0 5px 0px rgba(218, 218, 190, 0.5),
 	    -2px 9px 20px 0px rgba(218, 218, 190, 0.5);
        
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: opacity 0.5s ease-in-out; // Para animar la opacidad de una foto a otra
        };
    }      

    div.cardTxtCont {
        padding: 5px 17px;
        text-align: center;
        width: 100%; height: 25%;
    }
};
