@import '../../../colors.scss';

.cont-nav-user {
    position: relative;
}

.nav-user-dropdown {
    position: absolute;
    top: 2em;
    right: -2.8em;
    padding: 0.5em;
    z-index: 3;

    background: rgb(255, 255, 255);

    animation: appear 0.2s ease-in-out;

    box-shadow: 0 0 5px 0px rgba(208, 208, 208, 0.2),
        -2px 9px 15px 0px rgba(208, 208, 208, 0.2);

    li {
        display: flex;
        padding: 0.4em;
        animation: appear 0.3s ease-in-out;

        .material-symbols-outlined {
            font-size: larger;
            margin-right: 0.5em;
        }
    }
}


button {
    background: none;
    appearance: none;
    border: none;
}

.profile-thumbnail-img {
    border-radius: 100px;
    width: 25px;
    height: 25px;
    overflow: hidden;

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    ;

}




@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}