// Aqui meteremos las familiar de colores para el frontEnd

$color_1: #575FF2;
$color_2: #A2A6F2;
$color_3: #3BD97F;
$color_4: #C5F263;
$color_5: #F25116;
$color_6: #FF8457;

$color_7: #262626;
$color_8: #2D2D2D;
$color_9: #FFFFFF;
$color_10: #F2F2F2;
