$bb: #262626;
$b: #2D2D2D;
$ww: #FFFFFF;
$w: #F2F2F2;

$background-neutral-color: #FFFFFF;
$type-color: #505050;
$main-color: #C5F263;
$secondary-color: #A2A6F2;
$third-color: #FF8457;

$dark-background-neutral-color: #262626;
$dark-type-color: #cdcdcd;
$dark-main-color: #3BD97F;
$dark-secondary-color: #575FF2;
$dark-third-color: #F25116;